*{
x-sizing: border-box;
}

body {
    background-image: url("blue_ai2.jpg");
    font-family: "Georgia", serif;
}

/* Style the header */
header {
    background-image: url("green_tech.jpg");
    padding: 15px;
    text-align: center;
    font-size: 15px;
    color: white;
}

div.content {
    background-image: url("blue_ai3.jpg");
    padding: 27px;

}

div.portrait {


    padding: 35px;

}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    padding: 17px;
    color: #48D64B;
    font-size:18px;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
  color: #D04710;


}

article {

    float: left;
    padding: 75px;
    width: 55%;
    color: #E3F09E;
    text-align: justify;
    font-size:17px;
}

right_highlights {
    float: right;
    padding: 40px;
    width: 25%;
    color: white;
}

section{
    min-height: 900px;

}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;

}

/* Style the footer */
footer {
    background-image: url("green_tech.jpg");
    padding: 50px;
    text-align: center;
    color: white;
}

h2,
article > h1,
section > h1,
nav > h1 {
	font-weight: 700;
	font-size: 2em;
	line-height: 1;
	margin: 1.3334em 0 0.3334em;
   -webkit-font-smoothing: antialiased;
 }

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
