*{
x-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("blue_ai2.jpg");
}

/* Style the header */
header {
    background-image: url("red_ai.jpg");
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    padding: 20px;
    color: blue;


}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 20;
    height = 80%;
}

article {
    float: left;
    padding: 80px;
    width: 60%;
    color: white;
}

right_highlights {
    float: right;
    padding: 40px;
    width: 20%;
    color: white;
}

section{
    min-height: 900px;

}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;

}

/* Style the footer */
footer {
    background-image: url("blue_tech.jpg");
    padding: 10px;
    text-align: center;
    color: white;
}

h2,
article > h1,
section > h1,
nav > h1 {
	font-weight: 700;
	font-size: 2em;
	line-height: 1;
	margin: 1.3334em 0 0.3334em;
   -webkit-font-smoothing: antialiased;
 }

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
