
<nav>
    <div class="portrait">
         <br />
         <br />
         <br />

         <img  style="padding:none" src="css/imgs/human.jpeg" width="120" height="130">
         <h3 style="padding: 0 0 0px 20px" > <a href="mailto:mihaela.andreea.mares@gmail.com">Mihaela M.</a> </h3>
        <br />
        <a href="mailto:mihaela.andreea.mares@gmail.com"><img  style="padding: 0 0 0px 20px" src="css/imgs/email.png" width="30" height="30"></a>
        <a href="https://github.com/hiflyin"><img  style="padding: 0 0 0px 20px" src="css/imgs/git2.png" width="30" height="30"></a>

    </div >
    <div>
        <a style="color:#80b3ff" href="{{ site.baseurl }}/" >About</a>
        <br/>
        <br/>
        Tech Articles
        <hr/>
        <ul style="line-height:180%" >
            <li>
                Recurrent Neural Networks
                <ul style="line-height:180%">
                    <li><a href="vanilla_LSTM.html">  Vanilla LSTM architectures, equations, pure python</a> </li>
                    <li><a href="vanilla_RNN.html">  Vanilla RNN architectures, equations, pure python</a> </li>
                </ul>
            </li>
            <li>
                (Deep) Reinforcement Learning
                <ul style="line-height:180%">
                    <li><a href="breakout_RL.html">  Breakout Game Agent - in pure python </a> </li>
                </ul>
            </li>
            <li>
                Replacing GLMs with 'G-Neural Networks'
                <ul style="line-height:180%">
                    <li><a href="poisson.html">  Neural Networks for Variable Exposure Poisson </a> </li>
                </ul>
            </li>
        </ul>
         Open Source Projects
        <hr/>
        <ul style="line-height:180%" >
            <li><a href="feature_stuff.html">  feature_stuff: ML lib for advanced feature processing </a> </li>
            <li><a href="dl_framework.html">  NLP - Deep Learning Framework </a> </li>
            <li><a href="breakout_RL_doc.html">  Reinforcement Learning Implementation of Breakout </a> </li>
        </ul>
         Research
        <hr/>
        <ul style="line-height:180%" >
            <li> <a href="publications.html" >Machine Learning Publications</a> </li>
            <li> <a href="big_data.html" >Big Data Experiments</a> </li>
            <li> <a href="kaggle.html" >Applied Machine Learning: Kaggle</a> </li>
        </ul>
    </div>

</nav>