
<nav >

<div class="portrait">
     <br />
     <br />
     <br />
     <br />
     <img src="css/me1.JPG" width="150" height="160">

<h3> Mihaela M.</h3>


</div >
    <div >
    <ul style="line-height:140%", color="#48D64B"  >

    	<li >
    		<a href="{{ site.baseurl }}/" >About</a>
    	</li>
        <li>
            Tech articles:
            <ul style="line-height:180%">
                <li><a href="vanilla_RNN.html">  RNN equations explained </a>
                </li>
            </ul>
        </li>

    </ul>
    </div>

</nav>