
<nav>
    <div class="portrait">
         <br />
         <br />
         <br />
         <br />
         <img  style="padding:none" src="css/imgs/human.jpeg" width="120" height="130">
         <h3 style="padding: 0 0 0px 50px" > Mihaela M.</h3>
    </div >
    <div>
        <a style="color:#80b3ff" href="{{ site.baseurl }}/" >About</a>
        <br/>
        <br/>
        Tech Articles
        <hr/>
        <ul style="line-height:180%" >
            <li>
                Recurrent Neural Networks
                <ul style="line-height:180%">
                    <li><a href="vanilla_LSTM.html">  Vanilla LSTM - in pure python </a> </li>
                    <li><a href="vanilla_RNN.html">  Vanilla RNN - in pure python </a> </li>
                </ul>
            </li>
            <li>
                (Deep) Reinforcement Learning
                <ul style="line-height:180%">
                    <li><a href="breakout_RL.html">  Breakout Game Agent - in pure python </a> </li>
                </ul>
            </li>
            <li>
                Replacing GLMs with 'G-Neural Networks'
                <ul style="line-height:180%">
                    <li><a href="poisson.html">  Poisson Neural Networks </a> </li>
                </ul>
            </li>
        </ul>
         Open Source Projects
        <hr/>
        <ul style="line-height:180%" >
            <li><a href="feature_stuff.html">  Feature-Stuff - a python lib for feature extraction </a> </li>
            <li><a href="dl_framework.html">  NLP - Deep Learning Framework </a> </li>
            <li><a href="breakout_RL_doc.html">  Reinforcement Learning Implementation of Breakout </a> </li>
        </ul>
         Research
        <hr/>
        <ul style="line-height:180%" >
            <li> <a href="publications.html" >Machine Learning Publications</a> </li>
            <li> <a href="big_data.html" >Big Data Experiments</a> </li>
            <li> <a href="kaggle.html" >Applied Machine Learning: Kaggle</a> </li>
        </ul>
    </div>

</nav>